*{
    margin:0;
}

body{
    font-family: apple-system,BlinkMacSystemFont,Segoe UI,Roboto,
    Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

li{
    list-style: none;
    float: left;
}

.fa {
    font-size: 12px;
}

header{
    background-image: linear-gradient(to top right, #00359C, #0378FF);
}



.container{
    padding-top: 15px;
    max-width: 100% !important;
    margin:0;
    position: fixed;
    box-shadow: 0 4px 4px rgba(0,0,0,.2);
    z-index: 4;
    width: 100%;
    top: 0;
    padding-bottom: 15px;
    background-image: linear-gradient(45deg,#00349b,rgba(0,92,255,.9219),#007aff);

}

.up-bar{
    display:flex;
    justify-content: flex-end;
}

.up-bar li{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    color: white;
    line-height: 2rem;
}

.navbar{
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 6rem;
    align-items: center;
    color: white;
}

.navbar li{
    padding-left: 2.5rem;
    font-size: 14px;
    line-height: 0.5rem;
}

.btn-blue{
    font-size: 16px;
    border: 1px solid white;
    border-radius: 25rem;
    padding: 0.5rem 1.2rem;
    color: white;
    background-color: transparent;
    line-height: 1
}

.homepage{
    padding-top: 6.5rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(1, auto);
    width: 85vw;
    color: white;
}

.home1{
    grid-column: 1/2;
    margin-left: 6.5rem;
    padding-top: 5.5rem;
    font-family: NunitoSansRegular,sans-serif;
    width: 75%;
}

.home1 h1{
    font-size: 2.3rem;
    line-height: 3.5rem;
    letter-spacing:  0.02em;
    margin-bottom: 20px;
}

.home1 h2{
    font-family: NunitoSansRegular;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: .05em;
    margin-bottom: 34px;
    font-weight: lighter;
}

.home1 h5{
    font-size: 12px;
    line-height: 25px;
    letter-spacing: .05em;
    margin-bottom: 34px;
    font-weight: lighter;
}
.home2{
    grid-column: 2/3;
}

.home2 img{
    width: 115%;
    height: 110%;
}

.jam{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.jam h2{
    font-size: 45px;
    color: #fff;
    padding: 0;
    z-index: 1;
}

.jam p{
    font-size: 12px;
    padding-bottom: 40px;
    margin-top: -1rem;
    margin-left: 0.8rem;
    color: #fff;
    z-index: 1;
}

.titikdua{
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    width: 49%;
    color: #fff;
    margin-top: -5.5rem;
    margin-left: 4rem;
    z-index: 2;
}

.btn-orangehome{
    margin-top: 5rem;
    font-family: NunitoSansRegular, Sans-serif;
    font-size: 14px;   
    font-weight: bold; 
    border: 1px solid #FB8C00;
    border-radius: 5px;
    color: white;
    padding: 1rem 2rem;
    background-color: #FB8C00;
    line-height: 1;
}

.btn-orange{
    margin-top: 5rem;
    font-family: NunitoSansRegular, Sans-serif;
    font-size: 14px;   
    font-weight: bold; 
    border: 1px solid #FB8C00;
    border-radius: 5px;
    color: white;
    padding: 1rem 2rem;
    background-color: #FB8C00;
    line-height: 1;
}

.layanan{
    background-color: #F6FBFF;
    width: 100%; 
    padding-bottom: 2rem;  
}

.layanan h2{
    text-align: center;
    padding-top: 4rem;
    font-size: 32px;
    color:#3A4166;
}

.layanan-container{
    display: flex;
    justify-content: space-between;
    margin: 0 5.5rem; 
    padding-top: 3rem;

}

.card1{
    margin: 0 1rem;
    height: 24rem;
    width: 16rem;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    box-shadow: 0 6px 20px rgba(17,26,104,.2);
}

.card1 img{
    padding-top: 3.5rem;
    padding-bottom: 2rem;
}

.card1 h3{
    font-size: 18px;
    color:#343a40;
}

.card1 h4{
    font-size: 14px;
    padding: 1.5rem 1rem;
    font-weight: lighter;
    color:#6c757d;
}

.card1 h5{
    font-size: 14px;
    padding-bottom: 0.5rem;
    color:#6c757d;
}

.card1 p{
    font-family: NunitoSansBold,sans-serif;
    font-size: 24px;
    font-weight: bold;
    color:#343a40;
}

.website{
    display: flex;
    align-content: center;
    margin: 5rem 25rem;
    position: relative;
    height: 10 rem;
    width: 35rem;
    background-color: white;
    text-align: left;
    box-shadow: 0 6px 20px rgba(17,26,104,.2);
    border-radius: 10px;
    padding: 0.3rem;
}
.website img{
    padding: 1.5rem 0 1.5rem 1.5rem;
}
.website li{
    padding-top: 1.5rem;
    font-family: NunitoSansRegular,sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.website h3{
    color:#343a40;
    font-size: 18px;
}

.website p{
    letter-spacing: 0.05rem;
    color:#6c757d;
}

.prioritas-container{
    display: flex;
    justify-content: space-between;
    margin: 0 5.5rem; 
    padding-top: 3rem;
    padding-left: 1rem;
}

.prioritas h2{
    font-family: NunitoSansRegular,sans-serif;
    text-align: center;
    font-size: 32px;
    color:#3A4166;
    margin-top: 5rem;
    line-height: 3rem;
}

.card2{
    display: flex;
    align-content: center;
    height: 8rem;
    width: 34.5rem;
    background-color: white;
    text-align: left;
    margin-bottom: 2rem;
}

.card2 img{
    margin-top: -2rem;
}


.card2 h3{
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 20px;
    color:#343a40;
    margin-left: -0.5rem;
}

.card2 p{
    font-size: 15.5px;
    line-height: 25px;
    word-spacing: .1rem;
    color:#6c757d;
    font-weight: lighter;
    margin-left: -0.5rem;
    padding-bottom: 2rem;
    
}

.btn-orangee{
    font-family: NunitoSansRegular, Sans-serif;
    font-size: 14px;   
    font-weight: bold; 
    border: 1px solid #FB8C00;
    border-radius: 5px;
    color: white;
    padding: 1rem 2rem;
    background-color: #FB8C00;
    line-height: 1;
    margin-left: 6rem;
    margin-top: 1rem;
}

.server {
    z-index: 1;
    border-radius: 5px;
    width: 75%;
    height: auto;
    margin-left: 5.6rem;
    padding-top: 2.1rem;
}

.imunify{
    z-index: 2;
    top: -12.8rem;
    left: 1.6rem;
    position: relative;
}

.litespeed{
    z-index: 2;
    top: -12.8rem;
    right: -21.5rem;
    position: relative;
}

.grafik {
    z-index: 3;
    top: -14.5rem;
    position: relative;
    left: 1.6rem;
    width: 75%;
    height: auto;
}

.biayahemat{
    background-color: #F6FBFF;
    margin-top: -9rem;
}

.biayahemat-container{
    display: flex;
    justify-content: space-between;
    margin: 0 5.5rem;
    width: 50%; 
    padding-top: 2rem;
}

.cowok{
    margin-top: 4.8rem;
    position: relative;
    margin-left: 3rem;
    z-index: 1;
}

.man{
    z-index: 2;
    position: relative;
    left:7.6rem;
    top:-7rem;
}

.woman1{
    z-index: 2;
    position: relative;
    top: -16.1rem;
    left: -10rem;
}

.woman2{
    z-index: 2;
    position: relative;
    top: -16.1rem;
    left: 10.2rem;
}

.intercom{
    z-index: 3;
    position: relative;
    left: 5rem;
    top: -32rem;
}

.online{
    z-index: 2;
    position: relative;
    left:17.5rem;
    top: -14.3rem;
}

.biayahemat h2{
    font-family: NunitoSansRegular,sans-serif;
    line-height: 20px;
    text-align: center;
    padding-top: 4rem;
    font-size: 33px;
    color:#3A4166;
}

.card3{
    display: flex;
    align-content: center;
    position: relative;
    height: 7rem;
    width: 40rem;
    text-align: left;
    margin-bottom: 2rem;
}

.card3-container {
    margin-top: 3rem;
}

.card3 li{
    padding-top: 1rem;
}

.card3 h3{
    margin-top: 0rem;
    font-size: 20px;
    color:#3A4166;
    margin-left: -0.5rem;
}

.card3 p{
    font-size: 15.5px;
    line-height: 25px;
    word-spacing: .1rem;
    color:#6c757d;
    font-weight: lighter;
    margin-left: -0.5rem;
    padding-bottom: 3rem;
}


.card3 img{
    margin-left: 5.5rem;
    margin-top: -1.5rem;
}

.katapelanggan{
    background-color: #fff;
    width: 100%; 
    padding-bottom: 4rem;  
    color:#3A4166;
    margin-top:-8rem;
}

.katapelanggan h2{
    text-align: left;
    padding-top: 4rem;
    font-size: 30px;
    margin-left: 6rem;
}


.katapelanggan-container{
    display: flex;
    justify-content: space-between;
    margin: 0 5.5rem; 
    padding-top: 3rem;
}

.card4{
    margin: 0 1rem;
    height: auto;
    width: 33%;
    text-align: left;
}

.card4 img{
    padding-bottom: 2rem;
}

.card4 h3{
    font-size: 16px;
}

.card4 p{
    font-family: NunitoSansBold,sans-serif;
    font-size: 14px;
    word-spacing: .1rem;
    color:#6c757d;
    padding-bottom: 1rem;
}

.paket{
    background-color: #F6FBFF;
    width: 100%; 
    padding-bottom: 7rem; 
    padding-top: 6rem; 
}

.title{
    background-color: #00bfa5;
    font-family: NunitoSansBold,sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    background: #e5e5e5;
    display: inline-block;
    width: 100.4%;
    top: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 12px 0;
    text-align: center;
}

.type{
    font-family: NunitoSansBold,sans-serif;
    font-size: 30px;
    margin-bottom: 40px;
    color:#3A4166;
    padding-top: 2rem;
    font-weight: 500;
    line-height: 1.2;
}

.harga{
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    color: #007aff;
    margin-bottom: 37px;
    border-bottom: black;
}

.discount{
    font-size: 18px;
    padding-bottom: 0.7rem;
    color:#6c757d;
    font-weight: lighter;
}

.btn-orange2{
    font-family: NunitoSansRegular, Sans-serif;
    font-size: 14px;   
    font-weight: bold; 
    border: 1px solid #FB8C00;
    border-radius: 5px;
    color: white;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    background-color: #FB8C00;
    line-height: 1
}

.card5 h5{
    font-size: 16px;
    margin: 0 1.5rem;
    color:#007bff;;
    line-height: 20px;
    padding: 2.5rem 0;
    font-weight: lighter;
    letter-spacing: 0.01rem;
}

.card5 p{
    font-size: 11px;
    margin: 0 1.5rem;
    color:#6c757d;
    line-height: 20px;
    font-weight: lighter;
    letter-spacing: 0.01rem;
}

.keuntungan{
    margin-top: 2rem;
    text-align: left;
    margin-left: -1.5rem;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.1px;
}

.heading{
    text-align: center;
    font-size: 33px;
    color:#3A4166;
}

.paket-container{
    display: flex;
    justify-content: space-between;
    margin: 0 5.5rem; 
    padding-top: 3rem;
    height: auto;
}

.card5{
    margin: 0 1rem;
    width: 25%;
    background-color: white;
    text-align: center;
    height: fit-content;
    box-shadow: 0 6px 20px rgba(17,26,104,.2);
    border-radius: 8px;
}

.pelanggan h2{
    text-align: center;
    padding-top: 4rem;
    font-size: 32px;
    color :#3A4166;
}

.brand-container{
    display: flex;
    justify-content: space-between;
    margin-left: 8rem; 
    padding-top: 3rem;
    padding-bottom: 4rem;
    width: 80%;
}

.brand{
    width: 10rem;
    height: 8rem;
}

.garansi{
    background-color:#F6FBFF;
}
.garansi-container{
    display: flex;
    align-items: center;
    padding-top: 3rem;
    padding-left: 15rem;
    padding-bottom: 3rem;
    position: relative;
    width: 80%;
    text-align: left;
}
.garansi-container img{
    padding: 1.5rem 0 1.5rem 1.5rem;

}
.garansi-container ul{
    padding-bottom: 2rem;
}

.garansi-container li{
    padding-top: 1rem;
    padding-left: 6.2rem;
    padding-bottom: 1rem;
}
.garansi-container h1{
    line-height: 45px;
    font-size: 33px;
    color:#3A4166;

}

.garansi-container p{
    font-size: 17.5px;
    margin-right: 5rem;
    line-height: 35px;
    color:#6c757d;
}

.line1{
    display: flex;
    justify-content: center;
}


.line2{
    display: flex;
    justify-content: center;
}

.bank{
    padding: 1rem;
}

.banks{
    padding: 5rem 0;
}

.banks h3{
    color:#3A4166;
    text-align: center;
    padding-bottom: 1rem;
}

.kesuksesan{
    display: flex;
    align-content: center;
    padding: 5rem 0;
    background-image: linear-gradient(to top right, #00359C, #0378FF)
}

.sukses-container{
    display: flex;
    align-items: center;
    padding-left: 15rem;
    position: relative;
    width: 80%;
    text-align: left;
}

.sukses{
    width: 50%;
    font-size: 33px;
    line-height: 35px;
    color: white;
}

.domain-container{
        display: flex;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 3rem;
        margin: 2rem 4rem;

}

.btn-domain{
    font-family: NunitoSansRegular, Sans-serif;
    font-size: 12px;   
    font-weight: bold; 
    border: 1px solid #FB8C00;
    border-radius: 5px;
    color: white;
    padding: 0.5rem 3rem;
    background-color: #FB8C00;
    line-height: 1;
}

.domain-list{
    background-color: #F6FBFF;
    width: 100%; 
    padding-bottom: 2rem;  
}

.domain-list h2{
    text-align: center;
    padding-top: 4rem;
    font-size: 32px;
    color:#3A4166;
}

.domain-list h4{
    text-align: center;
    padding-top: 2rem;
    font-size: 18px;
    color:#6c757d;
    font-weight: lighter;
}

.card7{
    margin: 1rem;
    height: 18rem;
    width: 20%;
    border-radius: 5px;
    background-color: white;
    text-align: left;
    box-shadow: 0 6px 20px rgba(17,26,104,.1);
}

.card7 h3{
        text-align: left;
        font-size: 33px;
        height: 50px;
        padding-left: 1.8rem;
        padding-top: 1.8rem;
        color: #007aff;
        font-weight: 600;
    }

.card7 p{
    text-align: left;
    font-weight: lighter;
    word-spacing: 0.05px;
    font-size: 14px;
    line-height: 23px;
    color:#6c757d;
    padding-left: 1.8rem;
    padding-right: 1.5rem;
    padding-bottom: 0.7rem;
    }

.card7 h4{
    font-family: NunitoSansBold, sans-serif;
    font-weight: 600;
    text-align: left;
    word-spacing: 0.05px;
    font-size: 21px;
    line-height: 18px;
    color:#6c757d;
    padding-left: 1.8rem;
    padding-bottom: 0.7rem;
        }

.tabel{
    margin-bottom: 5rem;
}

.tabel h2{
    text-align: center;
    padding-top: 4rem;
    font-size: 32px;
    color:#3A4166;
}
        
.tabel h4{
    text-align: center;
    padding-top: 2rem;
    font-size: 18px;
    color:#6c757d;
    font-weight: lighter;
    margin-bottom:4rem;
}

tr:nth-child(even){
    background-color: #F6F6F6;
}

table, th, td {
    border-collapse: collapse;
    text-align: left;
    border: 1px solid #c4c4c4;
}

.namadomain{
    padding-left: 1rem;
    font-size: 13px;
    color:#6c757d;
}

.hargadomain{
    padding-left: 1rem;
    font-size: 15px;
    font-weight: lighter;
    color: #6c757d;
}

.btn-tabel{
    font-family: NunitoSansRegular, Sans-serif;
    font-size: 12px; 
    font-weight: bolder;
    border: 1px solid #FB8C00;
    border-radius: 5px;
    color: white;
    padding: 0.5rem 2.5rem;
    background-color: #FB8C00;
    line-height: 1;
    margin: 0.5rem 2rem;
}

th{
    height: 3.7rem;
}

input{
    font-family: NunitoSansRegular,sans-serif;
    font-size: 14px;
    color: rgba(58,65,102,.7);
    padding: 16px 14px;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
}

.find{
    display: flex;
    justify-content: space-between;
}

.cari{
    width: 30%; 
    margin-left: 39.5rem; 
    margin-top: 1rem;
    margin-right: auto;
    background-color: transparent; 
    color:#6c757d; 
    font-size: 14px;
}

.number-list{
    display: flex;
    justify-content: flex-end;
    margin-right: 20rem;
}

.list{
    font-size: 14px;
    padding: 0 7px;
}

.tips h2{
    text-align: center;
    padding-top: 4rem;
    font-size: 32px;
    color:#3A4166;
}

/*.angkaa {
    font-size: 40px;
    display: flex;
    justify-content: center;
    width: 30%;
    border: 1px solid black;
    color: #3A4166;
    z-index: 1;
}

.angkaaa{
    width: 50%;
    height: 7.8rem;
    display: flex;
    justify-content: space-between;
}
*/

.tips-container{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem 3rem;
}


.tips-card{
    z-index: 2;
    height: 7.8rem;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    font-family: NunitoSansRegular,sans-serif;
    font-weight: 400;
    width: 32%;
    line-height: 1.5;
    margin: 1.5rem 3rem;
    box-shadow: 0 6px 20px rgba(17,26,104,.1);
    border-radius: 7px;
    background-color: #fff;
}


.tips-card p{ 
    font-family: NunitoSansRegular, sans-serif;
    font-size: 13.5px;
    font-weight: lighter;
    color:#6c757d;
    padding-top: 1.6rem;
    padding-right: 1rem;
    line-height: 27px;
    
}

.tipsimage{
    margin: 2rem 1.8rem auto 1.7rem;
}

.btn-tips{
    font-family: NunitoSansRegular, Sans-serif;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 16px;   
    font-weight: bold; 
    border: 1px solid #FB8C00;
    border-radius: 5px;
    color: white;
    padding: 1rem 3rem;
    background-color: #FB8C00;
    line-height: 1;
}

.keuntungan h2{
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-size: 32px;
    color:#3A4166;
}

.keuntungan-container{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem auto;
    margin-left: 1rem;
}


.card8{
    height: auto;
    padding-top: 1.5rem;
    font-family: NunitoSansRegular,sans-serif;
    font-weight: 400;
    width: 27%;
    line-height: 1.5;
    border-radius: 7px;
    background-color: #fff;
    padding-left: 0.5rem;
}


.card8 p{ 
    font-family: NunitoSansRegular, sans-serif;
    font-size: 13.5px;
    font-weight: lighter;
    color:#6c757d;
    padding-right: 1rem;
    line-height: 23px;    
}

.card8 h4{
    margin: 1.5rem auto;
    font-size: 17px;
    color:#3A4166;
}

.iconkeuntungan{
    margin: auto;
}

.btn-beli{
    font-family: NunitoSansRegular, sans-serif;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 16px;   
    font-weight: bold; 
    border: 1px solid #FB8C00;
    border-radius: 5px;
    color: white;
    padding: 1rem 3rem;
    background-color: #FB8C00;
    line-height: 1;
}

.sudahsiap{
        font-family: NunitoSansRegular, sans-serif;
        display: flex;
        justify-content: center;
        font-size: 16px;
        font-weight: bolder;
        color:#6c757d;
        line-height: 27px;    
        padding-bottom: 2rem;
}

.footer-container{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem 2rem 0 4rem;
    padding: 0 2rem;

}


footer{
    background-color: #333333;
    padding-top: 3rem;
    color: white;
    height: auto;
}

.footer-card{
    padding: 0;
    height: auto;
    width: 25%;
    text-align: left;
    margin: 0;
}

.footer-list{
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-bottom: 2.3rem;
}

.footer-card h2{
    font-family: NunitoSansBold,sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;

    color: #c4c4c4;
}
.footer-list li{
    font-size: 14px;
    line-height: 2.02em;
    color: #fff;
}


.newsletter{
    font-family: NunitoSansRegular,sans-serif;
    font-size: 14px;
    background-color: transparent;
    padding: 15px 35px 10px 0;
    border-radius: 0;
    border: transparent;
    border-bottom: 1px solid #c4c4c4;
}

.langganan-btn{
    font-family: NunitoSansRegular, Sans-serif;
    font-size: 12px; 
    font-weight: bolder;
    border: 1px solid #FB8C00;
    border-radius: 5px;
    color: white;
    padding: 0.7rem 2.5rem;
    background-color: #FB8C00;
    line-height: 1;
    margin: 2rem 2rem;
}

.socmed-icon1 {
    margin: 0.5rem;
    background: #3b5998;
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    font-size: 30px;
    color: #fff;
    border-radius: 50%;
}

.socmed-icon2 {
    margin: 0.5rem;
    background: #ee4957;;
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    font-size: 30px;
    color: #fff;
    border-radius: 50%;
}

.socmed-icon3 {
    margin: 0.5rem;
    background: #007ab9;
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    font-size: 30px;
    color: #fff;
    border-radius: 50%;
}

.socmed-icon4 {
    margin: 0.5rem;
    background: #55acee;
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    font-size: 30px;
    color: #fff;
    border-radius: 50%;
}

.fab{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.copyright{
    display: flex;
    justify-content: start;
    padding-bottom: 1rem;
}

.side1 p{
    font-size: 12px;
    line-height: 18px;
    margin-left: 6rem;
}

.side2 p{
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    margin-left: 16rem;
}